pandas
plotly
streamlit
streamlit_autorefresh
streamlit-plotly-events

# for inference
opencv-python
opencv-python-headless
pymongo
# pafy
# youtube-dl
# albumentations
# segmentation-models-pytorch
# wandb